force-app/main/default/flows/Cancel_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Cancelled</name>
        <label>Set Cancelled Message</label>
        <locationX>249</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The order has been cancelled and its delivery dates have been cleared.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Eligible</name>
        <label>Set Eligible Message</label>
        <locationX>513</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This order is eligible to be cancelled because its status is Backordered. If you want to cancel, let me know.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Eligible</name>
        <label>Set Not Eligible Message</label>
        <locationX>499</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This order is not eligible to be cancelled. The order status is {!Get_Order_Info.orderStatus}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Found</name>
        <label>Set Not Found Message</label>
        <locationX>699</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No order was found for the provided identifier.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Sender_Role</name>
        <label>Check Sender Role</label>
        <locationX>50</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Cancel_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal User - Cancel</defaultConnectorLabel>
        <rules>
            <name>Is_End_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>senderRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>enduser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Eligible</targetReference>
            </connector>
            <label>Is End User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Eligibility</name>
        <label>Evaluate Eligibility</label>
        <locationX>375</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Order_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Info.orderFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Found</targetReference>
            </connector>
            <label>Order Not Found</label>
        </rules>
        <rules>
            <name>Is_Backordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Info.orderStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backordered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sender_Role</targetReference>
            </connector>
            <label>Is Backordered</label>
        </rules>
    </decisions>
    <description>Autolaunched flow used as an Agentforce action. Calls Get Order Information, then checks eligibility (status must be Backordered). When senderRole is &apos;enduser&apos; the flow only performs the eligibility check and does NOT cancel the order; for any other sender it cancels the order (sets Status to Cancelled and clears the estimated and actual delivery dates). Returns ineligible/not-found messages otherwise.</description>
    <environments>Default</environments>
    <interviewLabel>Cancel Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cancel_Order_Record</name>
        <label>Cancel Order Record</label>
        <locationX>249</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Set_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Info.orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Delivery_Date__c</field>
            <value>
                <elementReference>blankDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Delivery_Date__c</field>
            <value>
                <elementReference>blankDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <start>
        <locationX>249</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Order_Info</name>
        <label>Get Order Info</label>
        <locationX>375</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Evaluate_Eligibility</targetReference>
        </connector>
        <flowName>Get_Order_Information</flowName>
        <inputAssignments>
            <name>orderIdentifier</name>
            <value>
                <elementReference>orderIdentifier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Intentionally null Date used to clear delivery date fields.</description>
        <name>blankDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Order Number (Name) or OrderId provided by the customer/agent.</description>
        <name>orderIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>senderRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
