force-app/main/default/flows/Get_Order_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Autolaunched flow used as an Agentforce action. Given an order identifier (Order Number or OrderId), returns Status, Estimated Delivery Date, and the number of times delivery was delayed.</description>
    <environments>Default</environments>
    <interviewLabel>Get Order Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Order Information</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Found</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderIdentifier</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderIdentifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Order_Found</name>
        <label>Order Found?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Found_Outputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_Outputs</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <assignments>
        <name>Set_Found_Outputs</name>
        <label>Set Found Outputs</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>orderFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimatedDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Estimated_Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesDeliveryDelayed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.times_Delivery_Delayed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Found_Outputs</name>
        <label>Set Not Found Outputs</label>
        <locationX>300</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>orderFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No order was found for the provided identifier.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>orderIdentifier</name>
        <dataType>String</dataType>
        <description>Order Number (Name) or OrderId provided by the customer/agent.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <description>Record Id of the matched Order, for downstream updates.</description>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>estimatedDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timesDeliveryDelayed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
